@media screen and (max-width: 1350px){
	.interior-design-div-desktop{
		width: 38%;
		right: 4%;
	}
	
}

@media screen and (max-width: 1300px){

	.right-menu{
		margin-right:6%;
	}

}


@media screen and (max-width: 1200px){
	html{
		font-size: 8px;
	}
	.header-links{
		font-size: 16px;
	}
	.menu{
		font-size: 16px;
	}
	.left-menu{
		padding: 9px 5px 0 20px;
	}
	.right-menu{
		margin-right:4%;
	}

	.right-menu span {
		padding-left: 40px;
	}

	.arrow-down-white {
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;  
		border-top: 8px solid #fff;
	}



	.arrow-down-black {
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;  
		border-top: 8px solid #000;
	}

	.interior-design-div-desktop{

		width: 35%;
		right: 2%;
		margin-bottom: -100px;
		padding: 10px 10px 12px 12px;
	}

	.interior-design-heading-upper{
		font-size: 20px;
		letter-spacing: 3px;
	}

	.design-st-line{
		font-size: 14px;
		letter-spacing: 1px;
	}

	.interior-design-heading-lower{
		font-size: 17px;
		letter-spacing: 1px;
	}

	.design-desc{
		font-size: 13px;
		padding: 0 0 0 10px;
	}
	.st-line{
		margin: 0 0 3px 0;
	}

	.para-heading{
		font-size: 24px;
	}

	.para-description{
		width: 75%;
		font-size: 15px;
	}

	.signup-txt{
		font-size: 17px;
	}

	.signup-field{
		padding-left: 5px 2px;
	}

	.signup-social{
		font-size: 15px;
	}

	.signup-field input{
		padding: 5px 2px;
		width: 150px;
	}

	.signup-button{
		margin-left: 3%;
		padding: 4px 8px;
	}

	.signup-social-icons {
		margin: 0px 0 0 40%;
	}

}


@media screen and (max-width: 1000px){

	.cart-logo img{
		width: 15px;
		height: 14px;
		padding-top: 3px
	}
	html{
		font-size: 7px;
	}
	.header-links{
		font-size: 15px;
	}
	.menu{
		font-size: 14px;
	}

	.left-menu{
		padding: 9px 5px 0 10px;
	}

	.right-menu{
		margin-right: 2%;
	}

	.right-menu span {
		padding-left: 25px;
	}

	.tag-line-first{
		padding: 0 8% 0 0;
	}

	.tag-line-second{
		padding: 0 0 0 8%;
	}

	.divider-button{
		left: 10%;
		font-size: 16px;
		height: 38px;	
		width: 200px;
		padding: 9px 0 0 0;
	}

	.my-pager span{
		font-size: 70px;
		width: 23px;
		height: 23px; 
	}

	.interior-design-div-desktop{	
		right: 1%;
		margin-bottom: -117px;
	}

	.para-heading{
		font-size: 20px;
	}

	.para-description{
		width: 85%;
		font-size: 13px;
	}

	.signup-txt{
		font-size: 15px;
		width: 48%;
	}

	.signup-field{
		padding-left: 5px 1px;
		width: 28%;
	}

	.signup-social{
		font-size: 13px;
		width: 23%;
	}

	.signup-field input{
		padding: 5px 1px;
		width: 100px;
	}

	.signup-button{
		margin-left: 1%;
		padding: 4px 5px;
	}

	.signup-social-icons {
		margin: 0px 0 0 37%;
	}

	.started-title-txt{
		font-size: 22px;
		letter-spacing: 2px;
	}

	.straight-line{
		width: 20%;
	}

	.footer-left{
		width: 85%;
		padding: 16px 30px 4px 0px;

		ul li{
			font-size: 14px;
			padding-right: 5px;
		}
	}



	.footer-details-para{
		font-size: 14px;
	}

	.footer-details-tel{
		font-size: 15px;
	}
	.cart-options{
		width: 250px;

		button{
			width: 220px;
		}
		a{
			padding: 3px 10px !important;
		}
	}

}

@media screen and (max-width: 900px){
	.header-links{
		font-size: 14px;
	}
	.menu{
		font-size: 13px;
	}

	.left-menu{
		padding: 9px 5px 0 10px;
	}

	.right-menu{
		margin-right: 2%;
	}

	.right-menu span {
		padding-left: 25px;
	}
	.my-looknook{
		margin: 0 5px 0 0px;
	}

	.cart-link{
		padding: 0 3px 0 0;
	}
	.header-search{
		margin: 21px 10px 0 0;
	}
	.header-search input{
		width: 140px;
	}

	.arrow-down-white {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;  
		border-top: 6px solid #fff;
	}



	.arrow-down-black {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;  
		border-top: 6px solid #000;
	}

	.tag-line{
		font-size: 18px;
	}

	.tag-line-first{
		padding: 8px 10% 0 0;
	}

	.tag-line-second{
		padding: 8px 0 0 10%;
	}

	.divider-button{
		left: 7%;
	}

	.interior-design-div-desktop{
		right: 1%;
		margin-bottom: -95px;
		padding: 10px 10px 12px 12px;
	}

	.interior-design-heading-upper{
		font-size: 16px;
		letter-spacing: 2px;
	}

	.design-st-line{
		font-size: 10px;
		letter-spacing: px;
	}

	.interior-design-heading-lower{
		font-size: 14px;
		letter-spacing: px;
	}

	.design-desc{
		font-size: 9px;
		padding: 0 0 0 10px;
	}
	.st-line{
		margin: 0 0 2px 0;
	}


}

@media screen and (max-width: 800px){
	html{
		font-size: 6px;
	}
	.header-links{
		font-size: 13px;
	}
	.menu{
		font-size: 12px;
	}

	.left-menu{
		padding: 9px 5px 0 5px;
	}

	.right-menu{
		margin-right: 0%;
	}

	.right-menu span {
		padding-left: 10px;
		padding-right: 10px;
	}

	.my-looknook{
		margin: 0 5px 0 0px;
	}

	.cart-link{
		padding: 0 3px 0 0;
	}
	.header-search{
		margin: 21px 10px 0 0;
	}

	.small-logo{
		display: block;
		position: absolute;
		top: 68px;
		left: 50%;
		margin-left: -50px;
	}
	.logo{
		display: none;
	}

	.tag-line{
		font-size: 15px;
	}

	.divider-button{
		left: 5%;
		font-size: 14px;
		height: 30px;	
		width: 180px;
		padding: 5px 0 0 0;
	}

	.interior-design-div-desktop{
		right: 0.5%;
		margin-bottom: -90px;
		padding: 10px 10px 12px 12px;
	}
	.interior-design-heading-upper{
		font-size: 15px;
		letter-spacing: 2px;
	}

	.design-st-line{
		font-size: 9px;
	}
	.interior-design-heading-lower{
		font-size: 13px;
	}

	.design-desc{
		font-size: 9px;
		padding: 0 0 0 10px;
	}

	.para-heading{
		font-size: 16px;
	}

	.para-description{
		width: 90%;
		font-size: 12px;
	}

	.signup-bar{
		padding: 15px 0;
	}

	.signup-txt{
		font-size: 15px;
		width: 60%;
	}

	.signup-field{
		padding-left: 5px 10px;
		width: 40%;
	}

	.signup-social{
		display: none;
	}

	.signup-field input{
		padding: 5px 5px;
		width: 125px;
		font-size: 11px;
	}

	.signup-button{
		margin-left: 1%;
		padding: 4px 5px;
	}

	.footer-left{
		padding: 16px 30px 4px 25px;

		ul li{
			font-size: 19px;
			padding-right: 10px;
		}
	}

	.footer-details{
		display: none;
	}

	.footer-right-display{
		display: none;
	}



	.footer-right{
		width: 85%;
		text-align: left;
		padding: 7px 27px 4px 20px;
	}
	.footer-right-para{
		width: 100%;
	}
	.cart-options{
		width: 220px;

		button{
			width: 200px;
		}

		a{
			padding: 3px 5px !important;
		}
	}


}

@media screen and (max-width: 700px){

	.menu{
		font-size: 11px;
	}

	.left-menu{
		padding: 9px 5px 0 2px;
	}

	.right-menu{
		margin-right: 0%;
	}

	.right-menu span {
		padding-left: 5px;
	}

	.my-looknook{
		margin: 0 2px 0 0px;
	}

	.cart-link{
		padding: 0 0px 0 0;
		float: right;
	}
	.header-search{
		margin: 21px 0px 0 0;
	}


	.divider-button{
		left: 2%;
	}

	.interior-design-div-desktop{
		right: 0.5%;
		margin-bottom: -85px;
		padding: 5px 5px 5px 5px;
	}

	.interior-design-heading-upper{
		font-size: 14px;
		letter-spacing: 2px;
	}

	.design-st-line{
		font-size: 9px;
	}

	.interior-design-heading-lower{
		font-size: 12px;
		padding: 0px;
	}

	.design-desc{
		font-size: 9px;
		padding: 0px;
	}


}

@media screen and (max-width: 640px){
	.desk-header{
		display: none;
	}

	.mob-header{
		display: block;
		height: 79px;
		position: relative;
	}

	body{
		padding-top: 0;
		background-color: #fff;
	}

	.my-container{
		width: 100%;
	}

	.navbar{
		margin-bottom: 0;
		height: 79px;
		background-color: #000000;
		border-radius: 0px;
		box-shadow: none;
		border: none;
	}

	.navbar button{
		background-color: #000000;
		border: none;
		margin:19px 14px 0 0;
	}

	.navbar-toggle, .navbar-toggle:hover, .navbar-toggle:focus{
		background-color: #000000 !important;
	}

	.my-navbar{
		width: 100%;
		background-color: rgba(0,0,0, 0.5);
		position: absolute;
		top: 78px;
		padding: 0;
		z-index: 507;
		border: 1px solid #363636 !important;
	}

	.navbar span{
		height: 5px !important;
		width: 31px !important;
		background-color: #ffffff !important; 
	}

	.my-navbar ul{
		margin:0 !important;
	}

	.my-navbar li{
		float: left;
		width: 50%;
		padding: 54px 0;
		border: 1px solid #363636;
		font-size: 20px;
		font-weight: bold;
		color: #ffffff;
		text-align: center;
	}

	.header-search{
		margin: 0;
		text-align: center;
		float: none;
		display: block;
		padding: 10px 0 30px 0;
	}

	.header-search input{
		border-radius: 5px;
		border: none; 
		margin-right: 10px;
		font-size: 17px;
		width: 225px;
		padding: 3px 0 4px 5px;
		background-color: #dcdada;
		color: #777777;
	}

	.header-search button{
		border-radius: 6px;
		background-color: #95274d;
		border: none;
		width: 41px;
		height: 28px;
		color: #ffffff;
		font-size: 15px;
	}

	.mobile-logo{
		position: absolute;
		z-index: 508;
		top: 25px;
		left: 50%;
		margin-left: -50px;
	}

	.tag-line{
		height: 30px;
		font-size: 15px;
		font-weight: normal;
	}

	.tag-line-first{
		padding: 5px 0 0 5%;
		height: 30px;
		text-align: left;
	}

	.tag-line-second{
		padding: 5px 5% 0 0;
		height: 30px;
		text-align: right;
	}


	.mobile-slider{
		display: block;
	}

	.desktop-slider{
		display: none;
	}

	.divider-button{
		left: 5%;
		width: 170px;
	}

	.interior-design-div-desktop{
		display: none;
	}

	.design-container{
		width: 100%;
		padding: 25px 0 0 0;
		background-color: #f3f3ef;
	}

	.interior-design-div-mob{
		display: block;
		max-width: 450px;
		box-sizing: border-box;
		margin:auto;
		padding: 0 0 20px 0;
	}

	.design-mob-heading-upper{
		font-weight: bold;
		font-size: 26px;
		letter-spacing: 8px;
		text-align: center;
	}

	.design-mob-st-line{
		font-weight: bold;
		font-size: 20px;
		letter-spacing: 1px;
		text-align: center;
	}

	.design-mob-heading-lower{
		font-weight: bold;
		font-size: 25px;
		letter-spacing: 3px;
		text-align: center;
		margin:10px 0 0 0;
	}

	.design-mob-desc{
		font-size: 17px;
		text-align: center;
		padding: 10px 38px;
		line-height: 21px;
		margin-bottom: 10px;
	}

	.interior-design-mob-button{
		background-color: #95274d;	
		color: #ffffff;
		font-size: 22px;
		height: 53px;	
		margin: auto;	
		text-align: center;
		width: 272px;
		border-radius: 9px;
		padding: 10px 0 0 0;
	}

	.three-para{
		background-color: #ffffff;
		padding: 0 0 34px 0;
	}

	.first-para{
		width: 100%;
		float: none;
		box-sizing: border-box;
		text-align: center;
		padding: 0px;
	}

	.second-para{
		width: 100%;
		float: none;
		box-sizing: border-box;
		text-align: center;
		padding: 0px;
	}

	.third-para{
		width: 100%;
		float: none;
		box-sizing: border-box;
		text-align: center;
		padding: 0px;
	}

	.para-heading{
		font-size: 27px;
		font-weight: bold;
	}

	.para-description{
		margin: auto;
		font-size: 16px;
		width: 78%;
		line-height: 19px;
		padding: 0px;
	}
	.small-line{
		margin: 30px auto;
		width: 11%;
		border: 2px solid #95274d;
	}

	.signup-bar{
		width: 100%;
		background-color: #000000;
		color: #ffffff;
		padding: 21px 0;
	}

	.signup-txt{
		width: 100%;
		font-size: 19px;
		float: none;
		text-align: center;
	}

	.signup-field{
		width: 100%;
		float: none;
	}

	.signup-field form{
		float: none;
		display: inline-block;
	}

	.signup-field input{
		float: none;
		font-size: 18px;
		padding: 8px;
		width: 296px;
	}

	.signup-button{
		float: none;
		display: inline-block;
		padding: 5px 19px;
		font-size: 18px;
		margin-left: 5%;
		margin-top: 3px;
	}

	.signup{
		width: 100%;
		text-align: center;
		margin: 14px 0 0 0;
	}


	.get-started-block{
		padding: 32px 0 72px 0;
	}

	.started-block-title{
		margin-bottom: 26px;
	}

	.straight-line{
		width: 16%;
	}

	.started-title-txt{
		font-size: 20px;
	}

	.started-left-para{
		width: 100%;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		padding-bottom: 32px;
	}

	.started-left-para>img{
		width: 284px;
	}

	.started-right-para{
		width: 100%;
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}
	.started-right-para>img{
		width: 284px;
	}

	.started-left-para-txt{
		width: 64%;
		font-size: 20px;
		padding: 17px 0px;
	}

	.started-right-para-txt{
		width: 58%;
		font-size: 21px;
		padding: 15px 0 24px 0;
		line-height: 29px;

		span{
			font-size: 30px;
			color: #95274d;
		}
	}



	.started-button{
		display: inline-block;
		background-color: #95274d;
		color: #ffffff;
		border-radius: 9px;
		font-size: 18px;
		padding: 6px 12px;
	}

	footer{
		padding-bottom: 16px;
	}

	.footer-right{
		display: none;
	}

	.footer-logo{
		position: absolute;
		top: -36px;
		left: 4.5%;
	}



	.footer-left{
		padding-right: 0;

		ul li{
			font-size: 17px;
			padding-right: 15px;
		}
	}

	.copyright{
		display: none;
	}

}

@media screen and (max-width: 500px){
	.tag-line{
		height: 30px;
		font-size: 13px;
		font-weight: normal;
	}

	.tag-line-first{
		padding: 5px 0 0 2%;
		height: 30px;
		text-align: left;
	}

	.tag-line-second{
		padding: 5px 2% 0 0;
		height: 30px;
		text-align: right;
	}

}