@theme-color: #95274d;
@primary-color: #000;
@secondary-color: #fff;

.down-arrow(@caret-border){
	border-top: @caret-border dashed;
	border-right: @caret-border solid transparent;
	border-left: @caret-border solid transparent;
}

.button-effect{
	.btn{
		font-size: 1.8rem;
		background-color: transparent;
		font-weight: bold;

		&:hover, &:focus:hover{
			background-color: @secondary-color;
			color: @primary-color;
			outline: 0px auto -webkit-focus-ring-color;
			outline-offset: 0;
			box-shadow:none;
			border-radius: 0px;
		}

		&:active{
			background-color: @secondary-color;
			webkit-box-shadow: none;
			box-shadow:none;
			color:@primary-color;
		}

		&:focus {
			background-color: @primary-color;
			outline: none;
			color: @secondary-color;
		}
	}

}

.caret-down{
	.down-arrow(0.8rem);
}

.left-menu{
	float: left;
	padding: 0.6rem 1rem 0 2.2rem;
	height: 39px;
	box-sizing: border-box;
	position: relative;
	text-align: center;

	.btn{
		font-size: 1.8rem;
		padding: 0.1rem 0.2rem 0.1rem 0.2rem;
		background-color: transparent;
		font-weight: bold;
	}

	&.open {
		.btn{
			background-color: @secondary-color;
			color: @primary-color;

			&:focus{
				background-color: @secondary-color;
				outline: none;
				color: @primary-color;
				}}}

			}
			.left-menu:hover{
				background-color: @secondary-color;
			}


			.header-links{
				color: @secondary-color;
				font-weight: bold;
				margin-top: 23px;


				.dropdown-menu{
					left: auto;
					right: 0px;
				}
			}

			html{
				font-size: 10px;
			}

			body{
				width: 100%;
				padding-top: 36px;
				display: block;
				font-family: Arial, Helvetica, sans-serif;
				background: url("../images/bg_body.png") repeat;
			}

			.my-container{
				width: 86.2%;
				margin: auto;
				display: block;
				position: relative;
			}

			header{
				width: 100%;
				height: 154px;	
				display: block;

				.open{
					background-color: @secondary-color;
					color: @primary-color;
				}

				.dropdown-menu{
					border-radius:0px;
					margin: -1px 0 0 0;
					border:0px;
				}
			}

			.mob-header{
				display: none;
			}

			.clearfix::after{
				visibility: hidden;
				content: "";
				height: 0;
				display: block;
				clear: both;
			}

			.logo-section{
				height: 115px;
				background-color: @primary-color;
			}	

			.menu{
				background-color: #f3f3ef;
				box-sizing: border-box;
				font-size: 18px;
				font-weight: bold;
				height: 39px;
				padding: 0px 0 0 0px;
				width: 100%;
				position: relative;

				.btn:active{
					webkit-box-shadow: none;
					box-shadow:none;
				}

				.btn:focus{
					outline: none;
					outline-offset: 0;
				}
			}

			.header-social-media{
				bottom: 10px;
				float: left;
				margin: 71px 0 0 17px;
			}

			.header-right{
				float: right;
			}

			.header-search{
				margin: 21px 23px 0 0;
				float: right;


				input{
					border-radius: 5px;
					border: none; 
					margin-right: 10px;
					font-size: 17px;
					width: 191px;
					padding: 3px 0 4px 5px;
					background-color: #dcdada;
				}

				button{
					border-radius: 6px;
					background-color: @theme-color;
					border: none;
					width: 41px;
					height: 28px;
					color: #ffffff;
					font-size: 15px;
				}

			}

			.my-looknook{
				float: left;
				margin: 0 0px 0 0px;
				.button-effect;
				&.open {
					.btn{
						background-color: @secondary-color;
						color: @primary-color;

						&:focus{
							background-color: @secondary-color;
							outline: none;
							color: @primary-color;
						}

					}

				}

				.btn{
					padding:4px 10px;
				}
			}

			.cart-link{
				float: left;
				margin: 0 0px 0 0;
				position: relative;
				.button-effect;

				&.open {
					.btn{
						background-color: @secondary-color;
						color: @primary-color;

						&:focus{
							background-color: @secondary-color;
							outline: none;
							color: @primary-color;
						}

						.cart-img{
							background: url("../images/cart.png") -30px 0;

						}

					}




				}
				.btn{
					padding:5px 28px 5px 10px;
				}


				img:nth-child(1){
					vertical-align: top;
				}

				span{
					margin: 0 0 0 5px;
				}
				&:hover{
					.cart-img{
						background: url("../images/cart.png") -30px 0;

					}	
				}

			}
			.right-menu{
				float: right;
				margin-right: 8.2%;
				padding-top: 9px;

				span{
					padding-left: 55px;
				}
			}



			.logo{
				position: absolute;
				top: 30px;
				left: 50%;
				margin-left: -70px;
			}

			.small-logo{
				display: none;
			}

			.my-looknook-options{
				padding: 10px 10px 5px 10px;
				color: @primary-color;
				background-color: @secondary-color;
				width: 161px; 
				z-index: 511;
				border: 2px solid #d5d5d3;

				li{
					font-weight: normal;
					padding: 5px 0;
				}
				li:first-child{
					border-top:  2px solid #d5d5d3;
				}
			}

			ul{
				padding: 0 0 0 0;
				margin: 0 0 0 0;
			}

			li{
				list-style: none;
			}



			



			.cart-options{
				width: 325px;
				background-color: @secondary-color; 
				padding: 10px;
				color: @primary-color;
				border: 2px solid #d5d5d3;
				z-index: 511;
				font-size: 1.8rem;

				button{
					border: none;
					background-color: @primary-color;
					color: @secondary-color;
					width: 300px;
					border-radius: 7px;
					padding: 7px 0;
					margin-top: 5px; 
				}


				li{
					font-weight: normal;
					padding: 5px 0;

					>p{
						float: left;
					}

				}


				li:active, li:focus, li:hover{
					background-color: @secondary-color !important;
					outline: 0px; 
					outline-offset: 0px;
					background-image: none !important;


				}

				a:focus, a:active, a:hover{
					outline: 0px; 
					outline-offset: 0px;
					background-image: none !important;
					background-color: @secondary-color !important;
				}

				span{
					float: left;
					padding-right: 14px;
				}

				p{
					margin: 0 0 0 0;
				}
				li:first-child{
					border-top:  2px solid #d5d5d3;
				}

				li:nth-last-child(2){
					border-bottom: 2px solid #d5d5d3;
				}
			}
			

			

			.rooms-options{
				position: absolute;
				box-sizing: border-box;
				top: 36px;
				padding: 0px 45px 10px 35px;
				background-color: @secondary-color;
				left: 0px; 
				display: none;
				font-size: 14px;
				font-weight: normal;
				z-index: 502;
			}


			a{
				color: @primary-color !important;
				text-decoration: none !important;
			}

			.styles-options{
				position: absolute;
				box-sizing: border-box;
				top: 36px;
				padding: 0px 45px 10px 35px;
				background-color: @secondary-color;
				left: 0px; 
				display: none;
				font-size: 14px;
				font-weight: normal;
				z-index: 503;
			}

			.products-options{
				position: absolute;
				box-sizing: border-box;
				top: 36px;
				padding: 0px 45px 10px 35px;
				background-color: @secondary-color;
				left: 0px; 
				display: none;
				font-size: 14px;
				font-weight: normal;
				z-index: 504;
			}

			.arrow-down-white {
				width: 0px; 
				height: 0px; 
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;  
				border-top: 9px solid @secondary-color;
				float: right;
			}

			

			.arrow-down-black {
				width: 0px; 
				height: 0px; 
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;  
				border-top: 9px solid @primary-color;
				float: right;
			}

			

			.header-social {
				position: relative;
				margin: 70px 0 0 18px;
				float: left;

				li {
					margin: 0;
					padding: 0;
					list-style: none;
					position: absolute;
					top: 0;
				}

				li, a {
					height: 30px;
					display: block;
				}
			}



			.fb {
				left: 0px;
				width: 30px;
				background: url("../images/social_icon.png") 0 0;
			}

			.p_icon {
				left: 31px;
				width: 35px;
				background: url("../images/social_icon.png") -35px 0;
			}

			.twitter {
				left: 58px;
				width: 35px;
				background: url("../images/social_icon.png") -65px 0;
			}

			.tag-line{
				background-color: @theme-color;
				color: @secondary-color;
				height: 42px;
				width: 100%;
				font-size: 2.2rem;
				font-weight: bold;
			}

			.tag-line-first{
				width: 50%;
				float: left;
				text-align: right;
				padding: 7px 5% 0 0;
				height: 42px;
			}

			.tag-line-second{
				width: 50%;
				float: left;
				padding: 7px 0 0 5%;
				height: 42px;
			}

			.slider-div{
				border-bottom: 4px solid @theme-color;
				position: relative;
			}

			.cycle-slideshow{
				width: 100%;
				max-width: 100%;
				margin: 0px auto;
			}

			.my-pager{
				position:absolute;
				bottom: -13px;
				left: 50%;
				margin-left: -70px;
				top: auto !important;
				width: auto !important;

				span{
					font-size: 84px;
					width: 28px;
					height: 28px;
					color: #313130;
				}

				span.cycle-pager-active{
					color: #5f6060;
				}
			}



			.mobile-slider{
				display: none;
			}

			.desktop-slider{
				display: block;
			}

			.divider-button{
				background-color: @theme-color;
				bottom: 0;
				color: @secondary-color;
				font-size: 18px;
				height: 43px;	
				position: absolute;
				text-align: center;
				width: 224px;
				left: 12.5%;
				z-index: 500;
				border-radius: 9px 9px 0 0;
				padding: 10px 0 0 0;
				box-sizing: border-box;
			}

			.items{
				width: 100%;
				background-color: @secondary-color;

				img{
					width: 100%;
				}
			}

			.interior-design-div-desktop{
				position: absolute;
				right: 5%;
				bottom: 50%;
				margin-bottom: -11.4rem;
				width: 35%;
				background-color: rgba(255,255,255,0.7);
				z-index: 510;
				padding: 15px 10px;
				box-sizing: border-box;
				display: block;
			}

			p{
				margin: 0;
			}

			.interior-design-heading-upper{
				font-weight: bold;
				font-size: 26px;
				letter-spacing: 8px;
				text-align: center;
			}

			.design-st-line{
				font-weight: bold;
				font-size: 20px;
				letter-spacing: 1px;
				text-align: center;
			}

			.st-line{
				border: 2px solid @theme-color;
				width: 40%;
				display: inline-block;
				margin: 0 0 7px 0;
			}

			.design-st-line-txt{
				display: inline;
			}

			.interior-design-heading-lower{
				font-weight: bold;
				font-size: 25px;
				letter-spacing: 3px;
				text-align: center;
			}

			.design-desc{
				font-size: 18px;
			}

			.interior-design-div-mob{
				display: none;
			}

			.interior-design-button{
				background-color: @theme-color;	
				color: @secondary-color;
				font-size: 18px;
				height: 35px;		
				text-align: center;
				width: 178px;
				border-radius: 9px;
				padding: 5px 0 0 0;
				box-sizing: border-box;
				float: right;
				margin:10px 0 0 0;
			}

			.three-para{
				width: 100%;
				background-color: #f3f3ef;
				padding: 0 0 25px 0;
				margin: 0;
			}

			.first-para{
				float: left;
				width: 33.3%;
				box-sizing: border-box;
				text-align: center;
				padding: 30px 0px 0px 0;
			}

			.second-para{
				float: right;
				width: 33.3%;
				box-sizing: border-box;
				text-align: center;
				padding: 30px 0px 0px 0;
			}

			.third-para{
				float: left;
				width: 33.3%;
				box-sizing: border-box;
				text-align: center;
				padding: 30px 0px 0px 0;
			}

			.para-heading{
				font-size: 27px;
				font-weight: bold;
			}

			.para-description{
				margin: auto;
				font-size: 16px;
				width: 68%;
				padding: 10px 0;
				line-height: 24px;
			}

			.signup-bar{
				width: 100%;
				background-color: @primary-color;
				color: @secondary-color;
				padding: 21px 0;
			}

			.signup-txt{
				width: 46%;
				font-size: 20px;
				float: left;
				text-align: center;
			}

			.signup-field{
				width: 33%;
				float: left;
				padding-left: 5px;
			}

			.signup-social{
				width: 20%;
				float: right;
				font-size: 18px;
			}

			.signup-field form{
				float: left;
			}

			.signup-field input{
				border:none;
				font-size: 12px;
				padding: 5px;
				width: 204px;
				background-color: #606060;
			}

			.signup-button{
				float: left;
				background-color: @theme-color;
				border-radius: 9px;
				font-weight: bold;
				margin-left: 5%;
				padding: 4px 12px;
				color: @secondary-color;
			}

			.signup-social-icons {
				position: relative;
				margin: 0px 0 0 40%;
				float: left;

				li {
					margin: 0;
					padding: 0;
					list-style: none;
					position: absolute;
					top: 0;
				}

				li, a {
					height: 30px;
					display: block;
				}
			}

			

			.div-align-center{
				margin: auto;
				width: 90%;
			}

			.get-started-block{
				width: 100%;
				background-color: @secondary-color;
				padding: 32px 0 72px 0;
				margin: 0;
			}

			.started-block-title{
				width: 100%;
				text-align: center;
				display: inline-block;
				margin-bottom: 33px;
			}

			.straight-line{
				display: inline-block;
				border: 2px solid @theme-color;
				width: 30%;
				vertical-align: super;
			}

			.started-title-txt{
				display: inline-block;
				font-size: 23px;
				font-weight: bold;
				color: @theme-color;
				letter-spacing: 3px;
			}

			.started-left-para{
				width: 49%;
				text-align: center;
				display: inline-block;
				vertical-align: top;
			}

			.started-right-para{
				width: 49%;
				text-align: center;
				display: inline-block;
				vertical-align: top;
			}

			.img-responsive{
				display: inline-block;
			}

			.started-left-para-txt{
				width: 60%;
				margin: auto;
				font-size: 20px;
				padding: 24px 10px;
			}

			.started-right-para-txt{
				width: 60%;
				margin: auto;
				font-size: 20px;
				padding: 24px 10px;
				line-height: 39px;

				span{
					font-size: 24px;
					color: @theme-color;
				}
			}

			

			.started-button{
				display: inline-block;
				background-color: @theme-color;
				color: @secondary-color;
				border-radius: 9px;
				font-size: 18px;
				padding: 6px 12px;
			}


			footer{
				display: block;
				width: 100%;
				background-color: @primary-color;
				color: @secondary-color;
				position: relative;
				padding-bottom: 56px;
			}


			.footer-left{
				float: right;
				width: 90%;
				padding: 16px 58px 4px 5px;

				ul li{
					display: inline-block;
					font-size: 17px;
					font-weight: bold;
					text-align: center;
					padding-right: 22px;
				}
			}

			

			.footer-logo{
				position: absolute;
				top: -30px;
				left: 2.5%;
			}

			.footer-links{
				float: left;
			}

			.footer-details{
				float: right;

				>img{
					float: right;
				}

				>div{
					float: right;
					padding-right: 15px;
					text-align: right;
				}
			}

			

			.footer-details-para{
				font-size: 16px;
				font-weight: bold;
				color: @theme-color;
			}

			.footer-details-tel{
				font-size: 17px;
				font-weight: bold;
				text-decoration: none;
				color: @secondary-color;

				a{
					text-decoration: none;
					color: @secondary-color !important;
					width: 100%;
				}

			}

			

			.arrow-down-white2 {
				width: 0px; 
				height: 0px; 
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;  
				border-bottom: 6px solid @secondary-color;
				display: inline-block;
			}

			.footer-right{
				width: 90%;
				float: right;
				padding: 6px 0 0 5px;
				position: relative;
			}

			.footer-right-display{
				width: 53%;
				position: absolute;
				bottom: 2%;
				right: 5%;
				height: 70px;
				background-color: @primary-color;
				overflow: hidden;
				transform: translate3d(0, 0, 0);
			}

			.img-slider{
				height: 70px;
				width: 300%;
				background: url("../images/Moodboards.png");
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				transform: translate3d(0, 0, 0);
				animation: moveSlideshow 4s infinite;
				animation-delay: 7s;
				animation-fill-mode: forwards;
			}

			@keyframes moveSlideshow {
				25%{
					left: -106px;
				}
				50%{
					left: -212px;
				}
				75%{
					left: -318px;
				}

				100% { 
					left: -424px; 
				}
			}


			.footer-right-para{
				width: 33.5%;

				>p:nth-child(1){
					font-size: 19px;
				}

				>p:nth-child(2){
					font-weight: bold;
					font-size: 15px;
				}

				>p:nth-child(3){
					font-size: 14px;
					font-weight: bold;
					color: @theme-color;
				}

			}

			

			.copyright{
				padding-top: 8px;
				padding-bottom: 15px;
			}

			.copyright-txt{
				font-size: 14px;
				color: @secondary-color;
				padding-top: 5px;
				float: right;
			}


			.copyright-social {
				float: right;
				padding-left: 15px;

				li {
					margin: 0;
					padding: 0;
					list-style: none;
					float: right;
				}

				li,  a {
					height: 26px;
					display: block;
				}
			}

			

			.fb-footer{
				width: 28px;
				background: url("../images/footer_social.png") 0 0;
			}

			.p_icon-footer {
				width: 28px;
				background: url("../images/footer_social.png") -28px 0;
			}

			.twitter-footer {
				width: 26px;
				background: url("../images/footer_social.png") -58px 0;
			}

			.total-amount{
				text-align: right;
				font-weight: bold !important;
				width: 100%;
				span{
					float: none;
				}
			}

			.cart-logo{
				position: relative;
				width: 28px;
				height: 23px;
				float: left;
			}

			.cart-img{
				position: absolute;
				width: 28px;
				background: url("../images/cart.png") 0 0;
				height: 23px;
				top: 0;

			}

			@import "mobile_style.less";